* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4 {
  color: #FF731E;
  text-transform: capitalize;
}

.nav-bar {
  display: none;
}

.navbar-expand-lg {
  display: none;
}

@media (max-width: 865px) {
  .nav-bar {
    display: flex;
  }

  .navbar-expand-lg {
    display: flex;
  }

  .navbar-toggler {
    border: 0;
  }

  .fa {
    color: #FF731E;
  }

  .nav-link {
    color: #fff;
  }
}
#hero {
  opacity: 0.9;
  padding: 2% 8%;
  position: relative;
  background: #000;
}
#hero::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../IMAGES/bn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  z-index: -1;
}
#hero .top-nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#hero .nav-item {
  display: flex;
  align-items: center;
  list-style: none;
}
#hero li {
  padding: 0 2rem;
  font-size: 1rem;
}
#hero li:hover {
  color: #FF731E;
}
#hero .nav__cta {
  background: #FF731E;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
}
#hero .mid-hero {
  margin: 6rem auto;
  text-align: center;
}
#hero .heading {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 500;
  width: 70%;
}
#hero .cta {
  background: #FF731E;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  margin: 3rem auto;
}
@media (max-width: 865px) {
  #hero .top-nav {
    display: none;
  }
  #hero .heading {
    width: 100%;
  }
}

.partners {
  padding: 2% 8%;
  background: rgba(246, 246, 255, 0.74);
  text-align: center;
}
.partners .partners-pc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.partners .p-contain {
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  width: auto;
}
.partners.partner__logo {
  width: 50%;
}

@media (max-width: 990px) {
  .partners {
    display: none;
  }
}
#who_we_are {
  padding: 4% 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#who_we_are .flex-item {
  flex: 50%;
}
#who_we_are img {
  width: auto;
}
#who_we_are .title {
  color: #FF731E;
}
#who_we_are .title-info {
  color: #555555;
  line-height: 2;
  margin: 2rem auto;
}
#who_we_are .moreBtn {
  background: none;
  color: #3B86E1;
  padding-bottom: 0.3rem;
  border-radius: -2px;
  border-bottom: 1px solid #FF731E;
}

@media (max-width: 890px) {
  #who_we_are {
    flex-direction: column-reverse;
  }

  .flex-item {
    padding-top: 2rem !important;
  }
}
#services {
  padding: 4% 8%;
  background: rgba(246, 246, 255, 0.74);
  background-image: url("../IMAGES/lightbulb 1.svg");
  background-repeat: no-repeat;
  text-align: center;
}
#services .service {
  display: flex;
  flex-wrap: wrap;
}
#services .mid_service {
  flex: 25%;
  padding: 1.5rem;
  margin: 2rem;
  text-align: left;
  background: #fff;
  box-shadow: 0 0 2px 4px rgba(150, 143, 139, 0.0745098039);
}
#services h5 {
  color: #555555 !important;
}
#services .serc_icon {
  margin: 1rem auto;
}
#services .learn_more {
  background: none;
  color: #3B86E1;
  padding-bottom: 0.3rem;
  border-radius: -2px;
  border-bottom: 1px solid #FF731E;
  margin-top: 0.5rem;
}

@media (max-width: 790px) {
  #services {
    padding-top: 2rem;
  }

  .service {
    flex-direction: column;
  }

  .mid_service {
    border-radius: 3px;
  }
}
#why {
  padding: 4% 8%;
  text-align: center;
}
#why .flex-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}
#why .flex-item {
  background: none;
}
#why .mid-flex {
  display: flex;
  padding: 3rem;
  text-align: left;
  flex-wrap: wrap;
}
#why .mid {
  flex: 30%;
  padding: 0.2rem;
}
#why img {
  margin-bottom: 1rem;
}

@media (max-width: 890px) {
  #why {
    margin-top: 2rem;
  }

  .title {
    width: 100%;
  }

  .flex-box {
    flex-direction: column-reverse;
  }

  .flex-item {
    background: none;
  }

  .mid-flex {
    padding: 1rem !important;
  }

  .mid {
    flex: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 1rem !important;
    margin: 1rem !important;
    margin-top: 0 !important;
    box-shadow: 0 0 2px 2px rgba(128, 128, 128, 0.205);
  }

  img {
    margin-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .mid-flex {
    flex-direction: column !important;
    padding: 1rem !important;
  }

  .mid {
    width: 90%;
    padding: 0.2rem;
  }
}
#projects {
  padding: 4% 8%;
  background: #FAFAFA;
  text-align: center;
}
#projects .flex-container {
  margin: 3rem auto;
}
#projects .mid-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 2rem;
  padding-top: 0;
}
#projects .card {
  margin: 0 1rem;
}
#projects .learn_more {
  background: none;
  color: #3B86E1;
  padding-bottom: 0.3rem;
  border-radius: -2px;
  border-bottom: 1px solid #FF731E;
}

@media (max-width: 670px) {
  #projects {
    padding-top: 4rem !important;
  }

  .mid-flex {
    flex-direction: column;
    padding: 0 !important;
    padding-top: 0;
  }

  .card {
    margin: 0.5rem !important;
  }
}
#testimonials {
  padding: 4% 8%;
  background: rgba(59, 134, 225, 0.03);
  background-image: url("../IMAGES/lightbulb 2.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.review-title {
  text-align: center;
  padding: 20px 0px;
  border-bottom: 2px solid #dddddd;
}

.single-review {
  background: #fff;
  margin: 100px 1rem;
  padding: 3rem;
  text-align: center;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 5px -2px rgba(49, 48, 48, 0.164);
}

.img-thumbnail {
  width: 100px;
  position: absolute;
  top: -54px;
  left: 50%;
  margin-left: -50px;
}

.img-thumbnail img {
  border: 8px solid #fff;
  border-radius: 50%;
}

.review-content {
  margin-top: 40px;
}

.review-content h2 {
  font-size: 20px;
  color: #FF731E;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.review-content h5 {
  font-size: 16px;
  color: #555555;
  font-style: italic;
  margin-bottom: 20px;
}

.review-content p {
  font-size: 16px;
  color: #555555;
  line-height: 26px;
}

/*Control CSS*/
button:focus {
  outline: none;
}

.owl-nav {
  position: absolute;
  top: -55px;
  right: 0px;
}

.owl-nav button {
  display: none;
  background: rgba(238, 237, 237, 0.0666666667) !important;
  margin: 0px 0px 0px 5px;
  color: #fff !important;
  width: 30px;
  height: 40px;
  transition: 0.4s;
}

.owl-nav button:hover {
  background: #FF731E !important;
}

.owl-dots .owl-dot {
  background: #dddddd !important;
  width: 26px;
  height: 26px;
  position: relative;
  bottom: 40px;
  left: 50%;
  margin-right: 15px;
  border-radius: 50%;
  transition: 0.4s;
}

.owl-dots {
  margin-left: 18px;
}

button.owl-dot:hover, button.owl-dot.active {
  background: #FF731E !important;
}

#contact {
  padding: 4% 8%;
  display: flex;
  justify-content: space-evenly;
}
#contact .Submit {
  padding: 2% 10%;
  background: none;
  border: 1px solid #FF731E;
  color: #FF731E;
  border-radius: 4px;
}
#contact .f2 {
  border-left: 1px solid rgba(128, 128, 128, 0.178);
}
#contact .flex-item {
  flex: 45%;
  padding: 2%;
}
#contact .contact-info {
  margin: 2rem auto;
}
#contact .info {
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
}
#contact .img {
  margin-right: 1rem !important;
}

@media (max-width: 970px) {
  #contact {
    flex-direction: column;
  }

  .f2 {
    border: 0 !important;
  }
}
.footer {
  padding: 4% 8%;
  background: #3B86E1;
  max-width: 100%;
  min-width: 100%;
  margin: 0 !important;
}
.footer .col1 {
  width: 40%;
  padding-right: 10%;
}
.footer .lnav {
  display: flex !important;
  flex-direction: row !important;
}
.footer li {
  padding: 0 1rem;
  padding-left: 0;
}
.footer h5 {
  color: #fff;
  margin-bottom: 1.5rem;
}
.footer p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
}
.footer ul li a {
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 15px !important;
}
@media (max-width: 1020px) {
  .footer .col1 {
    width: auto;
  }
}

.gtco-testimonials {
  position: relative;
  margin-top: 30px;
}
.gtco-testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #FF731E;
  margin-bottom: 50px;
}
.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}
.gtco-testimonials .owl-nav {
  display: none;
}
.gtco-testimonials .owl-dots {
  text-align: center;
}
.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.gtco-testimonials .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
.gtco-testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}
.gtco-testimonials .card h5 {
  color: #FF731E;
  font-size: 21px;
  line-height: 1.3;
}
.gtco-testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
}
.gtco-testimonials .card p {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}
.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h5 {
  font-size: 24px;
}
.gtco-testimonials .center h5 span {
  font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}

@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  outline: 0;
}
.owl-carousel button.owl-dot {
  outline: 0;
}/*# sourceMappingURL=main.css.map */